recursive-include docs/build *.pdf
recursive-include jupyter_notebooks *.ipynb
recursive-include input_samples *.yaml
recursive-include input_samples *.txt
recursive-include input_samples *.xyz
include requirements.txt
